<div class="sidebar-sheet">
	<div class="sidebar-head">
		<span>Sheet</span>
	</div>
	
	<!-- Sheet body -->
	<div class="sidebar-body">

		<div class="group-row">
			<legend>Sheet Name</legend>
			<div>
				<input type="text" value="Sheet 1"/>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend>Background</legend>
				<div>
					<div class="color-preset_" style="--preset-color: #fff;"></div>
				</div>
			</div>
		</div>

		<div class="group-row">
			<div class="full-row">
				<button>Duplicate Sheet</button>
			</div>
			<div class="full-row">
				<button>Delete Sheet</button>
			</div>
		</div>

	</div>
</div>