<div class="sidebar-shape" data-section="shape">
	<div class="sidebar-head" data-click="select-tab">
		<span class="active">Table</span>
		<span>Arrange</span>
	</div>

	<!-- Table body -->
	<div class="sidebar-body active">
		<div class="styles shape-styles" data-click="set-shape-style">
			<span class="icon-shape-style-1" data-arg="#222222"></span>
			<span class="icon-shape-style-2" data-arg="#1ba3fc"></span>
			<span class="icon-shape-style-3" data-arg="#65d744"></span>
			<span class="icon-shape-style-4" data-arg="#ea261f"></span>
			<span class="icon-shape-style-5" data-arg="#fcad2a"></span>
			<span class="icon-shape-style-6" data-arg="#fc47a1"></span>
		</div>

	</div>

	<!-- Arrange body -->
	<div class="sidebar-body">
		
	</div>
</div>