<div class="sidebar-shape" data-section="shape">
	<div class="sidebar-head" data-click="select-tab">
		<span class="active">Table</span>
		<span>Arrange</span>
	</div>

	<!-- Table body -->
	<div class="sidebar-body active">
		<div class="styles" data-click="set-shape-style">
			<span class="icon-shape-style-1" data-arg="shape-style-1"></span>
			<span class="icon-shape-style-2" data-arg="shape-style-2"></span>
			<span class="icon-shape-style-3" data-arg="shape-style-3"></span>
			<span class="icon-shape-style-4" data-arg="shape-style-4"></span>
			<span class="icon-shape-style-5" data-arg="shape-style-5"></span>
			<span class="icon-shape-style-6" data-arg="shape-style-6"></span>
		</div>

	</div>

	<!-- Arrange body -->
	<div class="sidebar-body">
		
	</div>
</div>