<div class="sidebar-table">
	<div class="head" data-click="select-tab">
		<span class="active">Chart</span>
		<span>Axis</span>
		<span>Series</span>
		<span>Arrange</span>
	</div>
	
	<!-- Chart body -->
	<div class="body active">
		<div class="styles">
			<span class="icon-bars-style-1"></span>
			<span class="icon-bars-style-2 active"></span>
			<span class="icon-bars-style-3"></span>
			<span class="icon-bars-style-4"></span>
			<span class="icon-bars-style-5"></span>
			<span class="icon-bars-style-6"></span>
		</div>

		<div class="styles">
			<span class="icon-pie-style-1"></span>
			<span class="icon-pie-style-2"></span>
			<span class="icon-pie-style-3"></span>
			<span class="icon-pie-style-4 active"></span>
			<span class="icon-pie-style-5"></span>
			<span class="icon-pie-style-6"></span>
		</div>

		<div class="styles">
			<span class="icon-chart-columns-1 active"></span>
			<span class="icon-chart-columns-2"></span>
			<span class="icon-chart-columns-3"></span>
			<span class="icon-chart-columns-4"></span>
			<span class="icon-chart-columns-5"></span>
			<span class="icon-chart-columns-6"></span>
		</div>
	</div>
	
	<!-- Axis body -->
	<div class="body">
		
	</div>
	
	<!-- Series body -->
	<div class="body">
		
	</div>
	
	<!-- Arrange body -->
	<div class="body">
		
	</div>
</div>