<div class="sidebar-shape" data-section="shape">
	<div class="sidebar-head" data-click="select-tab">
		<span class="active">Style</span>
		<span>Arrange</span>
	</div>

	<!-- Style body -->
	<div class="sidebar-body active">
		<div class="styles shape-styles" data-click="set-shape-style">
			<span class="icon-shape-style-1" data-arg="#222222"></span>
			<span class="icon-shape-style-2" data-arg="#1ba3fc"></span>
			<span class="icon-shape-style-3" data-arg="#65d744"></span>
			<span class="icon-shape-style-4" data-arg="#ea261f"></span>
			<span class="icon-shape-style-5" data-arg="#fcad2a"></span>
			<span class="icon-shape-style-6" data-arg="#fc47a1"></span>
		</div>

		<div class="group-row">
			<legend>Shape Options</legend>
			<div>
				<span class="form-checkbox_"><input type="checkbox" id="shape-title" data-click="toggle-shape-title"/><i></i></span>
				<label for="shape-title">Title</label>
			</div>
			<div>
				<span class="form-checkbox_"><input type="checkbox" id="shape-caption" data-click="toggle-shape-caption"/><i></i></span>
				<label for="shape-caption">Caption</label>
			</div>
		</div>

		<div class="group-row">
			<legend>Fill</legend>
			<div>
				<div class="option-buttons_ has-text">
					<span>Solid</span>
					<span>Linear</span>
					<span class="active_">Radial</span>
				</div>
			</div>
			<div class="flex-row solid-options">
				<div>
					<div class="color-preset_" data-click="popup-color-palette" data-change="set-shape-outline-color" style="--preset-color: #000000;"></div>
				</div>
			</div>
			<div class="gradient-options">
				<div class="gradient-colors">
					<span class="point"></span>
					<span class="point"></span>
					<span class="point"></span>
				</div>

				<div class="flex-row">
					<legend class="bold">Angle</legend>
					<div>
						<input type="number" name="shape-gradient-angle" suffix="°" value="315"/>
						<div>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>

				<div>
					<span class="form-checkbox_"><input type="checkbox" id="gradient-reverse"/><i></i></span>
					<label for="gradient-reverse">Reverse Gradient Direction</label>
				</div>
			</div>
		</div>

		<div class="group-row">
			<legend>Border</legend>
			<div class="flex-row">
				<div class="w37">
					<selectbox class="shape-outline" data-menu="shape-outline">
						<option class="prefix-icon" selected="1" value="solid"/>
					</selectbox>
				</div>
				<div class="color-preset_" data-click="popup-color-palette" data-change="set-shape-outline-color" style="--preset-color: #000000;"></div>
				<div class="w23">
					<input type="number" value="1" min="0" max="10" data-change="set-shape-outline-width"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="group-row">
			<legend>Shadow</legend>
			<div class="flex-row">
				<div class="w63">
					<span class="range-caption">Blur</span>
					<input type="range" value="50" min="0" max="100">
				</div>
				<div class="has-caption">
					<input type="number" name="shape-shadow-blur" suffix="px" value="5"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<div class="flex-row">
				<div class="w63">
					<span class="range-caption">Offset</span>
					<input type="range" value="50" min="0" max="100">
				</div>
				<div class="has-caption">
					<input type="number" name="shape-shadow-offset" suffix="px" value="3"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<div class="flex-row">
				<div class="w63">
					<span class="range-caption">Opacity</span>
					<input type="range" value="50" min="0" max="100">
				</div>
				<div class="has-caption">
					<input type="number" name="shape-shadow-opacity" suffix="%" value="75"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>

			<div class="flex-row shadow-angle-color">
				<legend class="bold">Angle</legend>
				<div>
					<input type="number" min="0" max="360" suffix="°" value="315"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="color-preset_" data-click="popup-color-palette" style="--preset-color: #000000;"></div>
			</div>
		</div>

		<div class="group-row">
			<legend>Reflection</legend>
			<div class="flex-row">
				<div class="w63">
					<input type="range" value="50" min="0" max="100">
				</div>
				<div>
					<input type="number" name="shape-reflection" suffix="%" value="50"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="group-row">
			<legend>Opacity</legend>
			<div class="flex-row">
				<div class="w63">
					<input type="range" value="50" min="0" max="100">
				</div>
				<div>
					<input type="number" name="shape-opacity" suffix="%" value="100"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Arrange body -->
	<div class="sidebar-body">

	</div>
</div>