<div class="sidebar-functions" data-section="functions">
	<div class="sidebar-head">
		<span>Functions</span>
	</div>
	
	<!-- Sheet body -->
	<div class="sidebar-body active">
		<div class="body-wrapper">
			<div class="group-row">
				<div class="search-field">
					<i class="icon-magnify"></i>
					<input type="text" placeholder="Search"/>
				</div>
				<div class="search-matches">
					<!-- functions list goes here -->
				</div>
			</div>

			<div class="group-row fn-head">
				<h2>
					<i class="icon-fx"></i>
					<span>ABS</span>
				</h2>
			</div>

			<div class="group-row fn-body">
				<p class="intro">
					The ABS function returns the absolute value of a number value or of a duration value.
				</p>

				<h3>
					<span class="fn-name">ABS</span>
					<span class="fn-args">
						<span>num-dur</span>
					</span>
				</h3>
				<ul class="arguments divider">
					<li>
						<span class="arg">num-dur</span>
						A number value or duration value.
					</li>
				</ul>

				<h4>Notes</h4>
				<ul class="notes divider">
					<li>The result returned by ABS is either a positive number value, positive duration value, or 0.</li>
				</ul>

				<h4>Examples</h4>
				<ul class="examples divider">
					<li>=ABS(A1) returns 5, if cell A1 contains 5.</li>
					<li>=ABS(8-5) returns 3.</li>
					<li>=ABS(5-8) returns 3.</li>
					<li>=ABS(0) returns 0.</li>
					<li>=ABS(B1) returns 0, if cell B1 is empty.</li>
				</ul>

				<h4>See also</h4>
				<ul class="see-also">
					<li>SUM</li>
				</ul>
			</div>
		</div>
	</div>
</div>