<div class="sidebar-table" data-section="table">
	<div class="sidebar-head" data-click="select-tab">
		<span class="active">Table</span>
		<span>Cell</span>
		<span>Text</span>
		<span>Arrange</span>
	</div>

	<!-- Table body -->
	<div class="sidebar-body active">
		<div class="styles table-styles" data-click="set-table-style">
			<span class="icon-table-style-1" data-arg="gray-table-1"></span>
			<span class="icon-table-style-2" data-arg="blue-table-1"></span>
			<span class="icon-table-style-3" data-arg="green-table-1"></span>
			<span class="icon-table-style-4" data-arg="blue-table-2"></span>
			<span class="icon-table-style-5" data-arg="orange-table-1"></span>
			<span class="icon-table-style-6" data-arg="white-table-1"></span>
		</div>

		<div class="group-row">
			<legend>Table Options</legend>
			<div>
				<span class="form-checkbox_"><input type="checkbox" id="table-title" data-click="toggle-table-title"/><i></i></span>
				<label for="table-title">Title</label>
			</div>
			<div>
				<span class="form-checkbox_"><input type="checkbox" id="table-caption" data-click="toggle-table-caption"/><i></i></span>
				<label for="table-caption">Caption</label>
			</div>
		</div>

		<div class="group-row">
			<legend>Headers &amp; Footer</legend>
			<div class="flex-row">
				<div>
					<selectbox class="table-header-rows" data-menu="table-header-rows">
						<option class="prefix-icon" selected="1" value="0">0</option>
					</selectbox>
				</div>

				<div>
					<selectbox class="table-header-columns" data-menu="table-header-columns">
						<option class="prefix-icon" selected="1" value="0">0</option>
					</selectbox>
				</div>

				<div>
					<selectbox class="table-footer-rows" data-menu="table-footer-rows">
						<option class="prefix-icon" selected="1" value="0">0</option>
					</selectbox>
				</div>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend class="bold">Rows</legend>
				<div>
					<input type="number" min="7" max="999" name="table-rows-num" data-change="set-table-rows-num"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<div class="flex-row">
				<legend class="bold">Columns</legend>
				<div>
					<input type="number" min="5" max="999" name="table-cols-num" data-change="set-table-cols-num"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend class="bold">Table Font Size</legend>
				<div class="option-buttons_" data-click="set-table-font-size">
					<span>
						<span class="icon-small-a"></span>
					</span>
					<span>
						<span class="icon-big-a"></span>
					</span>
				</div>
			</div>
		</div>

		<div class="group-row table-outline-details">
			<legend>Table Outline</legend>
			<div class="flex-row">
				<div class="w37">
					<selectbox class="table-outline" data-menu="table-outline">
						<option class="prefix-icon" selected="1" value="solid"/>
					</selectbox>
				</div>
				<div class="color-preset_" data-click="popup-color-palette" data-change="set-table-outline-color" style="--preset-color: #000000;"></div>
				<div class="w23">
					<input type="number" value="1" min="0" max="10" data-change="set-table-outline-width"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<div>
				<span class="form-checkbox_"><input type="checkbox" data-click="toggle-table-title-outline" id="outline-table-title" checked/><i></i></span>
				<label for="outline-table-title">Outline Table Title</label>
			</div>
		</div>

		<div class="group-row">
			<legend>Gridlines</legend>
			<div class="flex-row" data-click="set-gridlines">
				<div class="w30">
					<div class="option-buttons_">
						<span data-name="h-gridlines" class="active_">
							<span class="icon-gridlines-horizontal c13x19"></span>
						</span>
						<span data-name="v-gridlines" class="active_">
							<span class="icon-gridlines-vertical c13x19"></span>
						</span>
					</div>
				</div>
				<div class="w63">
					<div class="option-buttons_">
						<span data-name="hg-header" class="active_">
							<span class="icon-row-gridlines c13x19"></span>
						</span>
						<span data-name="vg-body" class="active_">
							<span class="icon-column-gridlines c13x19"></span>
						</span>
						<span data-name="vg-footer" class="active_">
							<span class="icon-footer-gridlines c13x19"></span>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="group-row table-alt-bg-details">
			<div class="flex-row">
				<div class="w63">
					<span class="form-checkbox_"><input type="checkbox" data-click="set-alt-row-bg" id="alternate-row-color" /><i></i></span>
					<label for="alternate-row-color">Alternating Row Colour</label>
				</div>
				<div class="color-preset_" data-click="popup-color-palette" data-change="set-alt-row-color" style="--preset-color: transparent;"></div>
			</div>
		</div>

		<div class="group-row table-cell-dimensions">
			<legend>Row &amp; Column Size</legend>
			<div class="flex-row">
				<legend>Width</legend>
				<div>
					<input type="number" value="90" min="30" max="250" data-change="set-cell-width"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div>
					<button data-click="fit-table-cell" arg="width">Fit</button>
				</div>
			</div>
			<div class="flex-row">
				<legend>Height</legend>
				<div>
					<input type="number" value="25" min="25" max="150" data-change="set-cell-height"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div>
					<button data-click="fit-table-cell" arg="height">Fit</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Cell body -->
	<div class="sidebar-body">
		<div class="group-row">
			<legend>Data Format</legend>
			<div>
				<selectbox data-menu="table-header-rows">
					<option selected="1" value="number">Number</option>
				</selectbox>
			</div>
			<div class="flex-row">
				<legend>Decimals:</legend>
				<div class="indent">
					<input type="number" value="12"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div>
					<selectbox data-menu="table-header-rows">
						<option selected="1" value="-100">-100</option>
					</selectbox>
				</div>
			</div>
			<div class="flex-row">
				<div class="w30"></div>
				<div class="w63 indent">
					<span class="form-checkbox_"><input type="checkbox" id="table-name" /><i></i></span>
					<label for="table-name">Thousands Separator</label>
				</div>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend class="bold">Fill</legend>
				<div class="color-preset_" data-click="popup-color-palette" data-change="set-cell-fill-color" style="--preset-color: #000000;"></div>
			</div>
		</div>

		<div class="group-row cell-border-options">
			<legend>Border</legend>
			<div class="flex-row">
				<div class="borders">
					<span class="icon-border-1"></span>
					<span class="icon-border-2"></span>
					<span class="icon-border-3"></span>
					<span class="icon-border-4"></span>
					<span class="icon-border-5"></span>
					<span class="icon-border-6"></span>
					<span class="icon-border-7"></span>
					<span class="icon-border-8"></span>
					<span class="icon-border-9"></span>
				</div>

				<div class="flex-col w60">
					<selectbox data-menu="table-header-rows">
						<option selected="1" value="border-styles">Border Styles</option>
					</selectbox>

					<selectbox class="table-cell-border" data-menu="table-cell-border">
						<option class="prefix-icon" selected="1" value="solid"/>
					</selectbox>

					<div class="flex-row">
						<div class="color-preset_" data-click="popup-color-palette" data-change="set-cell-border-color" style="--preset-color: #000000;"></div>
						<div data-suffix="px">
							<input type="number" value="1"/>
							<div>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Text body -->
	<div class="sidebar-body cell-font-options">
		<div class="group-row">
			<legend>Font</legend>
			<div class="flex-row">
				<div class="w63">
					<selectbox data-menu="sys:font-families" data-change="set-cell-font-family">
						<option selected="1" value="arial">Arial</option>
					</selectbox>
				</div>
				<div data-suffix="px">
					<input type="number" name="cell-font-size" min="1" max="73" step="1" value="13" data-change="set-cell-font-size"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>

			<div class="option-buttons_" data-click="set-cell-font-style">
				<span data-name="bold" title="Bold.">
					<span class="icon-bold c13x19"></span>
				</span>
				<span data-name="italic" title="Italic.">
					<span class="icon-italic c13x19"></span>
				</span>
				<span data-name="underline" title="Underline.">
					<span class="icon-underline c13x19"></span>
				</span>
				<span data-name="strike" title="Strike.">
					<span class="icon-strike c13x19"></span>
				</span>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend class="bold">Text Color</legend>
				<div class="color-preset_" data-click="popup-color-palette" data-change="set-cell-color" style="--preset-color: #000000;"></div>
			</div>
		</div>

		<div class="group-row cell-hv-alignment">
			<legend>Alignment</legend>
			<div class="option-buttons_" data-click="set-cell-hAlign">
				<span data-name="left" title="Align left.">
					<span class="icon-justify-left c13x19"></span>
				</span>
				<span data-name="center" title="Align center.">
					<span class="icon-justify-center c13x19"></span>
				</span>
				<span data-name="right" title="Align right.">
					<span class="icon-justify-right c13x19"></span>
				</span>
				<span data-name="justify" title="Justify full.">
					<span class="icon-justify-full c13x19 active"></span>
				</span>
			</div>
			
			<div class="option-buttons_" data-click="set-cell-vAlign">
				<span data-name="top" title="Vertically align top.">
					<span class="icon-valign-top c13x19"></span>
				</span>
				<span data-name="middle" title="Vertically align middle.">
					<span class="icon-valign-middle c13x19"></span>
				</span>
				<span data-name="bottom" title="Vertically align bottom.">
					<span class="icon-valign-bottom c13x19"></span>
				</span>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend>Spacing</legend>
				<div class="w63">
					<selectbox data-menu="cell-line-height">
						<option selected="1" value="1.0">1.0 - Single</option>
					</selectbox>
				</div>
			</div>
		</div>
	</div>

	<!-- Arrange body -->
	<div class="sidebar-body">
		<div class="group-row">
			<div class="flex-row arrange" data-click="set-table-arrange">
				<div class="w48">
					<div class="option-buttons_ has-title_">
						<span data-name="z-back" title="Back">
							<span class="icon-arrange-back c13x19"></span>
						</span>
						<span data-name="z-front" title="Front">
							<span class="icon-arrange-front c13x19"></span>
						</span>
					</div>
				</div>

				<div class="w48">
					<div class="option-buttons_ has-title_">
						<span data-name="z-backward" title="Backward">
							<span class="icon-arrange-backward c13x19"></span>
						</span>
						<span data-name="z-forward" title="Forward">
							<span class="icon-arrange-forward c13x19"></span>
						</span>
					</div>
				</div>
			</div>

			<div class="flex-row">
				<div class="w48">
					<selectbox disabled data-menu="table-header-rows">
						<option selected="1" value="align">Align</option>
					</selectbox>
				</div>

				<div class="w48">
					<selectbox disabled data-menu="table-header-rows">
						<option selected="1" value="distribute">Distribute</option>
					</selectbox>
				</div>
			</div>
		</div>

		<div class="group-row table-box-size">
			<div class="flex-row">
				<legend class="bold">Size</legend>
				<div class="indent has-title" title="Width" data-suffix="px">
					<input type="number" disabled min="320" max="1e5" step="1" name="width" data-change="set-table-box-size"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="has-title" title="Height" data-suffix="px">
					<input type="number" disabled min="175" max="1e5" step="1" name="height" data-change="set-table-box-size"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<div class="flex-row">
				<div></div>
				<div class="w65">
					<span class="form-checkbox_"><input type="checkbox" id="table-clip" data-click="toggle-table-clip"/><i></i></span>
					<label for="table-clip">Clip Table</label>
				</div>
			</div>
		</div>

		<div class="group-row table-box-position">
			<div class="flex-row">
				<legend class="bold">Position</legend>
				<div class="indent has-title" title="X" data-suffix="px">
					<input type="number" min="0" max="1e5" step="1" name="x" data-change="set-table-box-position"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="has-title" title="Y" data-suffix="px">
					<input type="number" min="0" max="1e5" step="1" name="y" data-change="set-table-box-position"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>