<div class="sidebar-sheet" data-section="sheet">
	<div class="sidebar-head">
		<span>Sheet</span>
	</div>
	
	<!-- Sheet body -->
	<div class="sidebar-body active">

		<div class="group-row push-down">
			<legend>Sheet Name</legend>
			<div>
				<input type="text" placeholder="Enter name" data-change="set-sheet-name"/>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend>Background</legend>
				<div>
					<div class="color-preset_" data-click="popup-color-palette" data-change="set-sheet-bgcolor" style="--preset-color:#ffffff;"></div>
				</div>
			</div>
		</div>

		<div class="group-row">
			<div class="full-row">
				<button data-click="duplicate-sheet">Duplicate Sheet</button>
			</div>
			<div class="full-row">
				<button data-click="delete-sheet">Delete Sheet</button>
			</div>
		</div>

	</div>
</div>