<div class="sidebar-functions" data-section="functions">
	<div class="sidebar-head">
		<span>Functions</span>
	</div>
	
	<!-- Sheet body -->
	<div class="sidebar-body active">
		<div class="body-wrapper">
			<div class="group-row">
				<div class="search-field">
					<i class="icon-magnify"></i>
					<input type="text" placeholder="Search"/>
				</div>
				<div class="search-matches" data-click="show-function">
					<!-- functions list goes here -->
				</div>
			</div>

			<div class="group-row fn-head">
				<h2>
					<i class="icon-fx"></i>
					<span><!-- function name goes here --></span>
				</h2>
			</div>

			<div class="group-row fn-body">
				<!-- function information goes here -->
			</div>
		</div>
	</div>
</div>