<div class="sidebar-line" data-section="line">
	<div class="sidebar-head" data-click="select-tab">
		<span class="active">Style</span>
		<span>Arrange</span>
	</div>

	<!-- Style body -->
	<div class="sidebar-body active">
		<div class="styles line-styles" data-click="set-line-style">
			<span class="icon-line-style-1" data-arg="#222222"></span>
			<span class="icon-line-style-2" data-arg="#1ba3fc"></span>
			<span class="icon-line-style-3" data-arg="#65d744"></span>
			<span class="icon-line-style-4" data-arg="#ea261f"></span>
			<span class="icon-line-style-5" data-arg="#fcad2a"></span>
			<span class="icon-line-style-6" data-arg="#fc47a1"></span>
		</div>
	</div>

	<!-- Styles body -->
	<div class="sidebar-body active">

	</div>

	<!-- Arrange body -->
	<div class="sidebar-body">

	</div>
</div>