<div class="sidebar-table">
	<div class="sidebar-head" data-click="select-tab">
		<span class="active">Table</span>
		<span>Cell</span>
		<span>Text</span>
		<span>Arrange</span>
	</div>

	<!-- Table body -->
	<div class="sidebar-body active">
		<div class="styles">
			<span class="icon-table-style-1"></span>
			<span class="icon-table-style-2"></span>
			<span class="icon-table-style-3"></span>
			<span class="icon-table-style-4"></span>
			<span class="icon-table-style-5"></span>
			<span class="icon-table-style-6"></span>
		</div>

		<div class="group-row">
			<legend>Table Options</legend>
			<div>
				<span class="form-checkbox_"><input type="checkbox" id="table-title"/><i></i></span>
				<label for="table-title">Title</label>
			</div>
			<div>
				<span class="form-checkbox_"><input type="checkbox" id="table-caption"/><i></i></span>
				<label for="table-caption">Caption</label>
			</div>
		</div>

		<div class="group-row">
			<legend>Headers &amp; Footer</legend>
			<div class="flex-row">
				<div>
					<selectbox class="table-header-rows" data-menu="table-header-rows">
						<option class="prefix-icon" selected="1" value="0">0</option>
					</selectbox>
				</div>

				<div>
					<selectbox class="table-header-columns" data-menu="table-header-columns">
						<option class="prefix-icon" selected="1" value="0">0</option>
					</selectbox>
				</div>

				<div>
					<selectbox class="table-footer-rows" data-menu="table-footer-rows">
						<option class="prefix-icon" selected="1" value="0">0</option>
					</selectbox>
				</div>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend class="bold">Rows</legend>
				<div>
					<input type="number" name="table-rows-num" value=""/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<div class="flex-row">
				<legend class="bold">Columns</legend>
				<div>
					<input type="number" name="table-cols-num" value=""/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend class="bold">Table Font Size</legend>
				<div class="option-buttons_">
					<span>
						<span class="icon-small-a"></span>
					</span>
					<span>
						<span class="icon-big-a"></span>
					</span>
				</div>
			</div>
		</div>

		<div class="group-row">
			<legend>Table Outline</legend>
			<div class="flex-row">
				<div>
					<selectbox data-menu="table-footer-rows">
						<option selected="1">
							<div class="select-option-border-solid">0</div>
						</option>
					</selectbox>
				</div>
				<div class="color-preset_" data-click="popup-color-palette" data-change="set-table-outline-color" style="--preset-color: #000000;"></div>
				<div>
					<input type="number" value="1"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<div>
				<span class="form-checkbox_"><input type="checkbox" id="outline-table-name" checked/><i></i></span>
				<label for="outline-table-name">Outline Table Name</label>
			</div>
		</div>

		<div class="group-row">
			<legend>Gridlines</legend>
			<div class="flex-row">
				<div class="w30">
					<div class="option-buttons_">
						<span class="active_">
							<span class="icon-gridlines-horizontal c13x19"></span>
						</span>
						<span class="active_">
							<span class="icon-gridlines-vertical c13x19"></span>
						</span>
					</div>
				</div>
				<div class="w63">
					<div class="option-buttons_">
						<span class="active_">
							<span class="icon-row-gridlines c13x19"></span>
						</span>
						<span class="active_">
							<span class="icon-column-gridlines c13x19"></span>
						</span>
						<span class="active_">
							<span class="icon-footer-gridlines c13x19"></span>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<div class="w63">
					<span class="form-checkbox_"><input type="checkbox" id="alternate-row-color" /><i></i></span>
					<label for="alternate-row-color">Alternating Row Colour</label>
				</div>
				<div class="color-preset_" data-click="popup-color-palette" data-change="set-alternating-row-color" style="--preset-color: #000000;"></div>
			</div>
		</div>

		<div class="group-row">
			<legend>Row &amp; Column Size</legend>
			<div class="flex-row">
				<legend>Height</legend>
				<div>
					<input type="number" value="20"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div>
					<button>Fit</button>
				</div>
			</div>
			<div class="flex-row">
				<legend>Width</legend>
				<div>
					<input type="number" value="98"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div>
					<button disabled>Fit</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Cell body -->
	<div class="sidebar-body">
		<div class="group-row">
			<legend>Data Format</legend>
			<div>
				<selectbox data-menu="table-header-rows">
					<option selected="1" value="number">Number</option>
				</selectbox>
			</div>
			<div class="flex-row">
				<legend>Decimals:</legend>
				<div class="indent">
					<input type="number" value="12"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div>
					<selectbox data-menu="table-header-rows">
						<option selected="1" value="-100">-100</option>
					</selectbox>
				</div>
			</div>
			<div class="flex-row">
				<div class="w30"></div>
				<div class="w63 indent">
					<span class="form-checkbox_"><input type="checkbox" id="table-name" /><i></i></span>
					<label for="table-name">Thousands Separator</label>
				</div>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend class="bold">Fill</legend>
				<div class="color-preset_" data-click="popup-color-palette" data-change="cell-fill-color" style="--preset-color: #000000;"></div>
			</div>
		</div>

		<div class="group-row">
			<legend>Border</legend>
			<div class="flex-row">
				<div class="borders">
					<span class="icon-border-1"></span>
					<span class="icon-border-2"></span>
					<span class="icon-border-3"></span>
					<span class="icon-border-4"></span>
					<span class="icon-border-5"></span>
					<span class="icon-border-6"></span>
					<span class="icon-border-7"></span>
					<span class="icon-border-8"></span>
					<span class="icon-border-9"></span>
				</div>

				<div class="flex-col w60">
					<selectbox data-menu="table-header-rows">
						<option selected="1" value="border-styles">Border Styles</option>
					</selectbox>

					<selectbox data-menu="table-header-rows">
						<option selected="1" value="-">
							<span class="select-option-border-solid"></span>
						</option>
					</selectbox>

					<div class="flex-row">
						<div class="color-preset_" data-click="popup-color-palette" data-change="cell-border-color" style="--preset-color: #000000;"></div>
						<div>
							<input type="number" value="1"/>
							<div>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Text body -->
	<div class="sidebar-body">
		<!--
		<div class="group-row">
			<div class="option-buttons_">
				<span class="active_"><span>Style</span></span>
				<span><span>Layout</span></span>
			</div>
		</div>
		-->

		<div class="group-row">
			<legend>Font</legend>
			<div>
				<selectbox data-menu="table-header-rows">
					<option selected="1" value="arial">Arial</option>
				</selectbox>
			</div>

			<div class="flex-row">
				<div class="w63">
					<selectbox data-menu="table-header-rows">
						<option selected="1" value="regular">Regular</option>
					</selectbox>
				</div>
				<div>
					<input type="number" value="10"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>

			<div class="option-buttons_">
				<span>
					<span class="icon-bold c13x19"></span>
				</span>
				<span>
					<span class="icon-italic c13x19"></span>
				</span>
				<span>
					<span class="icon-underline c13x19"></span>
				</span>
				<span>
					<span class="icon-strike c13x19"></span>
				</span>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend class="bold">Text Colour</legend>
				<div class="color-preset_" data-click="popup-color-palette" data-change="set-text-color" style="--preset-color: #000000;"></div>
			</div>
		</div>

		<div class="group-row">
			<legend>Alignment</legend>
			<div class="option-buttons_">
				<span>
					<span class="icon-justify-left c13x19"></span>
				</span>
				<span>
					<span class="icon-justify-center c13x19"></span>
				</span>
				<span>
					<span class="icon-justify-right c13x19"></span>
				</span>
				<span>
					<span class="icon-justify-full c13x19 active"></span>
				</span>
				<span>
					<span class="icon-justify-fit c13x19"></span>
				</span>
			</div>
			
			<div class="option-buttons_">
				<span>
					<span class="icon-valign-top c13x19"></span>
				</span>
				<span>
					<span class="icon-valign-middle c13x19"></span>
				</span>
				<span>
					<span class="icon-valign-bottom c13x19"></span>
				</span>
			</div>
			<div>
				<span class="form-checkbox_"><input type="checkbox" id="wrap-text-in-cell" checked /><i></i></span>
				<label for="wrap-text-in-cell">Wrap Text In Cell</label>
			</div>
		</div>
	</div>

	<!-- Arrange body -->
	<div class="sidebar-body">
		<div class="group-row">
			<div class="flex-row arrange">
				<div class="w48">
					<div class="option-buttons_ has-title">
						<span title="Back">
							<span class="icon-arrange-back c13x19"></span>
						</span>
						<span title="Front">
							<span class="icon-arrange-front c13x19"></span>
						</span>
					</div>
				</div>

				<div class="w48">
					<div class="option-buttons_ has-title">
						<span title="Backward">
							<span class="icon-arrange-backward c13x19"></span>
						</span>
						<span title="Forward">
							<span class="icon-arrange-forward c13x19"></span>
						</span>
					</div>
				</div>
			</div>

			<div class="flex-row">
				<div class="w48">
					<selectbox data-menu="table-header-rows">
						<option selected="1" value="align">Align</option>
					</selectbox>
				</div>

				<div class="w48">
					<selectbox disabled data-menu="table-header-rows">
						<option selected="1" value="distribute">Distribute</option>
					</selectbox>
				</div>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend class="bold">Size</legend>
				<div class="indent has-title" title="Width">
					<input type="number" value="20"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="has-title" title="Height">
					<input type="number" value="20"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend class="bold">Position</legend>
				<div class="indent has-title" title="X">
					<input type="number" value="20"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="has-title" title="Y">
					<input type="number" value="20"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>