
<div class="table-tools hidden" data-area="tools">
	<div class="tool move"></div>
	<div class="tool h-resize"></div>
	<div class="tool v-resize"></div>
	<div class="tool hv-resize"></div>
	<div class="tool selection">
		<span class="handle top-left"></span>
		<span class="handle bottom-right"></span>
		<textarea></textarea>
	</div>

	<div class="table-tool table-cols" data-click="select-columns">
		<div class="tool-cols-row-head">
			<table>
				<tr>
					<td><s></s></td>
				</tr>
			</table>
		</div>
		<div class="tool-cols-row-body">
			<table>
				<tr>
					<td><s></s></td>
					<td><s></s></td>
					<td><s></s></td>
					<td><s></s></td>
					<td><s></s></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="table-tool table-rows" data-click="select-rows">
		<table>
			<!-- <tr><td><s></s></td></tr> -->
		</table>
	</div>
</div>
