
<div class="table-tools hidden" data-area="tools">
	<div class="tool move"></div>
	<div class="tool h-resize"></div>
	<div class="tool v-resize"></div>
	<div class="tool hv-resize"></div>
	<div class="tool selection">
		<span class="handle top-left"></span>
		<span class="handle bottom-right"></span>
		<textarea></textarea>
	</div>

	<div class="table-tool table-cols" data-click="select-columns">
		<div>
			<!-- <table>
				<tr>
					<td><s></s></td>
				</tr>
			</table> -->
		</div>
		<div>
			<!-- <table>
				<tr>
					<td><s></s></td>
				</tr>
			</table> -->
		</div>
	</div>

	<div class="table-tool table-rows" data-click="select-rows">
		<div>
			<!-- <table>
				<tr><td><s></s></td></tr>
			</table> -->
		</div>
		<div>
			<!-- <table>
				<tr><td><s></s></td></tr>
			</table> -->
		</div>
		<div>
			<!-- <table>
				<tr><td><s></s></td></tr>
			</table> -->
		</div>
	</div>
</div>

<div class="shape-tools hidden" data-area="shape">
	<span class="handle n"></span>
	<span class="handle nw"></span>
	<span class="handle w"></span>
	<span class="handle sw"></span>
	<span class="handle s"></span>
	<span class="handle se"></span>
	<span class="handle e"></span>
	<span class="handle ne"></span>
</div>
