
<div class="table-tools">
	<div class="tool move"></div>
	<div class="tool h-resize"></div>
	<div class="tool v-resize"></div>
	<div class="tool resize"></div>
	<div class="tool selection"></div>

	<table class="tabls-cols">
	<col />
	<col />
	<col/>
	<col />
	<tr><td></td><td class="active"></td><td></td><td></td></tr>
	</table>

	<table class="table-rows">
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr class="active"><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	</table>

</div>
