
<div class="table-tools hidden" data-area="table">
	<div class="tool move"></div>
	<div class="tool h-resize"></div>
	<div class="tool v-resize"></div>
	<div class="tool hv-resize"></div>
	<div class="tool selection anchor-br">
		<span class="handle top-left"></span>
		<span class="handle bottom-right"></span>
		<!-- <div class="cell-edit">
			<div autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" contenteditable="true"></div>
		</div> -->
	</div>

	<div class="table-tool table-cols" data-click="select-columns">
		<div>
			<!-- <table><tr><td><s></s></td></tr></table> -->
		</div>
		<div>
			<!-- <table><tr><td><s></s></td></tr></table> -->
		</div>
	</div>

	<div class="table-tool table-rows" data-click="select-rows">
		<div>
			<!-- <table><tr><td><s></s></td></tr></table> -->
		</div>
		<div>
			<!-- <table><tr><td><s></s></td></tr></table> -->
		</div>
		<div>
			<!-- <table><tr><td><s></s></td></tr></table> -->
		</div>
	</div>
</div>
