<layout>
	<content data-area="content">
		<div class="head">
			<span class="icon-add"></span>
			<span class="active">Sheet 1</span>
			<!--
			<span>Sheet 2</span>
			<span>Sheet 3</span>
			-->
		</div>
		<div class="body" data-click="blur-table">
			
			@import "sections/table-tools.htm"
			@import "sections/sheet-table.htm"

		</div>
		<div class="foot">
			<div class="cell-type">Formula</div>
			<div class="cell-value">
				<div class="formula">
					<span class="formula-method">Sum</span>
					<span class="formula-value">D1:D15</span>
				</div>
			</div>
		</div>
	</content>
	<sidebar class="right hidden" data-area="sidebar">
		<div class="container">
			@import "sections/sidebar-empty.htm"
			@import "sections/sidebar-table.htm"
		</div>
	</sidebar>
</layout>
