<layout>
	<content data-area="content">
		<div class="head" data-area="head">
			<span class="icon-add"></span>
			<div data-click="select-sheet">
				<!-- Sheet names goes here -->
			</div>
		</div>
		<div class="body" data-click="blur-table">
			<div class="wrapper">
				<!-- sheet tables goes here -->

				@import "sections/table-tools.htm"
			</div>
		</div>
		<div class="foot">
			<div class="cell-type">Formula</div>
			<div class="cell-value">
				<div class="formula">
					<span class="formula-method">Sum</span>
					<span class="formula-value">D1:D15</span>
				</div>
			</div>
		</div>
	</content>
	<sidebar class="right" data-area="sidebar">
		<div class="container">
			@import "sections/sidebar-empty.htm"
			@import "sections/sidebar-table.htm"
		</div>
	</sidebar>
</layout>
