<div class="sidebar-table">
	<div class="head" data-click="sidebar-select-tab">
		<span class="active">Chart</span>
		<span>Axis</span>
		<span>Series</span>
		<span>Arrange</span>
	</div>
	
	<!-- Chart body -->
	<div class="body active">
		<div class="styles">
			<span>
				<svg filter="url(#ds1)"><use href="#icon-bars-style-1"></use></svg>
			</span>
			<span>
				<svg filter="url(#ds1)"><use href="#icon-bars-style-2"></use></svg>
			</span>
			<span>
				<svg filter="url(#ds1)"><use href="#icon-bars-style-3"></use></svg>
			</span>
			<span>
				<svg filter="url(#ds1)"><use href="#icon-bars-style-4"></use></svg>
			</span>
			<span>
				<svg filter="url(#ds1)"><use href="#icon-bars-style-5"></use></svg>
			</span>
			<span>
				<svg filter="url(#ds1)"><use href="#icon-bars-style-6"></use></svg>
			</span>
		</div>

		<div class="styles">
			<span>
				<svg filter="url(#ds1)"><use href="#icon-pie-style-1"></use></svg>
			</span>
			<span>
				<svg filter="url(#ds1)"><use href="#icon-pie-style-2"></use></svg>
			</span>
			<span>
				<svg filter="url(#ds1)"><use href="#icon-pie-style-3"></use></svg>
			</span>
			<span>
				<svg filter="url(#ds1)"><use href="#icon-pie-style-4"></use></svg>
			</span>
			<span>
				<svg filter="url(#ds1)"><use href="#icon-pie-style-5"></use></svg>
			</span>
			<span>
				<svg filter="url(#ds1)"><use href="#icon-pie-style-6"></use></svg>
			</span>
		</div>

		<div class="styles">
			<span>
				<svg filter="url(#ds1)"><use href="#icon-chart-columns-1"></use></svg>
			</span>
			<span>
				<svg filter="url(#ds1)"><use href="#icon-chart-columns-2"></use></svg>
			</span>
			<span>
				<svg filter="url(#ds1)"><use href="#icon-chart-columns-3"></use></svg>
			</span>
			<span>
				<svg filter="url(#ds1)"><use href="#icon-chart-columns-4"></use></svg>
			</span>
			<span>
				<svg filter="url(#ds1)"><use href="#icon-chart-columns-5"></use></svg>
			</span>
			<span>
				<svg filter="url(#ds1)"><use href="#icon-chart-columns-6"></use></svg>
			</span>
		</div>
	</div>
	
	<!-- Axis body -->
	<div class="body">
		
	</div>
	
	<!-- Series body -->
	<div class="body">
		
	</div>
	
	<!-- Arrange body -->
	<div class="body">
		
	</div>
</div>