
.guide-lines {
	position: absolute;
	top: 0;
	left: 0;

	> div {
		position: absolute;
		background: #3583d0;
		opacity: .75;

		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 1px;
			height: 1px;
		}
	}

	.horizontal {
		top: -1px;
		left: -1px;
		width: -1px;
		height: 1px;

		&:before {
			background: linear-gradient(to left, #3583d0 0%, transparent 100%);
			top: 0;
			left: -29px;
			width: 29px;
		}

		&:after {
			background: linear-gradient(to right, #3583d0 0%, transparent 100%);
			top: 0;
			right: -29px;
			width: 29px;
		}
	}

	.vertical {
		top: -1px;
		left: -1px;
		height: -1px;
		width: 1px;

		&:before {
			background: linear-gradient(to top, #3583d0 0%, transparent 100%);
			left: 0;
			top: -29px;
			height: 29px;
		}

		&:after {
			background: linear-gradient(to bottom, #3583d0 0%, transparent 100%);
			left: 0;
			bottom: -29px;
			height: 29px;
		}
	}

	.diagonal {
		top: -1px;
		left: -1px;
		width: -1px;
		height: 1px;
		transform-origin: 0 0;
		transform: rotate(45deg);

		&:before {
			background: linear-gradient(to left, #3583d0 0%, transparent 100%);
			top: 0;
			left: -29px;
			width: 29px;
		}

		&:after {
			background: linear-gradient(to right, #3583d0 0%, transparent 100%);
			top: 0;
			right: -29px;
			width: 29px;
		}
	}
}
