
.guide-lines {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 98;
	--color: #3583d0;

	> div {
		background: var( --color );
		position: absolute;
		top: -99px;
		left: -99px;
		width: 1px;
		height: 1px;
		opacity: .75;

		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 1px;
			height: 1px;
		}
	}

	.horizontal {
		&:before {
			background: linear-gradient(to left, var( --color ) 0%, transparent 100%);
			top: 0;
			left: -37px;
			width: 37px;
		}

		&:after {
			background: linear-gradient(to right, var( --color ) 0%, transparent 100%);
			top: 0;
			right: -37px;
			width: 37px;
		}
	}

	.vertical {
		&:before {
			background: linear-gradient(to top, var( --color ) 0%, transparent 100%);
			left: 0;
			top: -37px;
			height: 37px;
		}

		&:after {
			background: linear-gradient(to bottom, var( --color ) 0%, transparent 100%);
			left: 0;
			bottom: -37px;
			height: 37px;
		}
	}

	.diagonal {
		transform-origin: 0 0;
		transform: rotate(45deg);

		&:before {
			background: linear-gradient(to left, var( --color ) 0%, transparent 100%);
			top: 0;
			left: -37px;
			width: 37px;
		}

		&:after {
			background: linear-gradient(to right, var( --color ) 0%, transparent 100%);
			top: 0;
			right: -37px;
			width: 37px;
		}
	}
}
