
// for dark theme
@import "theme-dark";
@import "sheet-styled-tables";
@import "table-tools";
@import "shape-tools";

// auto applies to ".win-body_"
overflow: initial;


@sidebar_bg: #ececec;
@layout_outline: #bbb;
@outline_color: #bbb;
@table_border: #a6a6a6;
@sidebar_speed: 280ms;


&.win-body-focused_ {
	sidebar {
		.sidebar-head {
			span.active {
				background: #489bf7;
				color: #fff;

				&:after {
					display: block;
				}
			}
		}

		.sidebar-body {
			.option-buttons_ {
				> span:active,
				> span.active_ {
					background: #6da6f9 linear-gradient(#6da6f9 0%, #1a73fb 100%);
					color: #fff;
					//--color-1: #fff;
					box-shadow: 0 0 0 1px #1a73fb;
					border-color: transparent;
				}
			}

			// .styles {
			// 	svg {
			// 		filter: initial;
			// 	}
			// }
		}
	}
}

.icon-table-style-1:before   { background-image: url(~/icons/icon-table-style-1.png); }
.icon-table-style-2:before   { background-image: url(~/icons/icon-table-style-2.png); }
.icon-table-style-3:before   { background-image: url(~/icons/icon-table-style-3.png); }
.icon-table-style-4:before   { background-image: url(~/icons/icon-table-style-4.png); }
.icon-table-style-5:before   { background-image: url(~/icons/icon-table-style-5.png); }
.icon-table-style-6:before   { background-image: url(~/icons/icon-table-style-6.png); }
.icon-bars-style-1:before    { background-image: url(~/icons/icon-bars-style-1.png); }
.icon-bars-style-2:before    { background-image: url(~/icons/icon-bars-style-2.png); }
.icon-bars-style-3:before    { background-image: url(~/icons/icon-bars-style-3.png); }
.icon-bars-style-4:before    { background-image: url(~/icons/icon-bars-style-4.png); }
.icon-bars-style-5:before    { background-image: url(~/icons/icon-bars-style-5.png); }
.icon-bars-style-6:before    { background-image: url(~/icons/icon-bars-style-6.png); }
.icon-pie-style-1:before     { background-image: url(~/icons/icon-pie-style-1.png); }
.icon-pie-style-2:before     { background-image: url(~/icons/icon-pie-style-2.png); }
.icon-pie-style-3:before     { background-image: url(~/icons/icon-pie-style-3.png); }
.icon-pie-style-4:before     { background-image: url(~/icons/icon-pie-style-4.png); }
.icon-pie-style-5:before     { background-image: url(~/icons/icon-pie-style-5.png); }
.icon-pie-style-6:before     { background-image: url(~/icons/icon-pie-style-6.png); }
.icon-chart-columns-1:before { background-image: url(~/icons/icon-chart-columns-1.png); }
.icon-chart-columns-2:before { background-image: url(~/icons/icon-chart-columns-2.png); }
.icon-chart-columns-3:before { background-image: url(~/icons/icon-chart-columns-3.png); }
.icon-chart-columns-4:before { background-image: url(~/icons/icon-chart-columns-4.png); }
.icon-chart-columns-5:before { background-image: url(~/icons/icon-chart-columns-5.png); }
.icon-chart-columns-6:before { background-image: url(~/icons/icon-chart-columns-6.png); }

.icon-shape-style-1:before   { background-image: url(~/icons/icon-shape-style-1.png); }
.icon-shape-style-2:before   { background-image: url(~/icons/icon-shape-style-2.png); }
.icon-shape-style-3:before   { background-image: url(~/icons/icon-shape-style-3.png); }
.icon-shape-style-4:before   { background-image: url(~/icons/icon-shape-style-4.png); }
.icon-shape-style-5:before   { background-image: url(~/icons/icon-shape-style-5.png); }
.icon-shape-style-6:before   { background-image: url(~/icons/icon-shape-style-6.png); }

.shape-rectangle:before      { background-image: url(~/icons/shape-rectangle.png); }
.shape-disc:before           { background-image: url(~/icons/shape-disc.png); }
.shape-triangle:before       { background-image: url(~/icons/shape-triangle.png); }
.shape-star:before           { background-image: url(~/icons/shape-star.png); }
.shape-pentagon:before       { background-image: url(~/icons/shape-pentagon.png); }
.shape-hexagon:before        { background-image: url(~/icons/shape-hexagon.png); }


layout {
	background: #fff;
	color: #333;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	flex-flow: wrap;
	border-radius: inherit;
	font-family: Helvetica Neue;

	&.show-sidebar {
		content {
			padding-right: 270px;
		}

		sidebar {
			right: 0;
		}
	}

	&.show-footer {
		content {
			.foot {
				max-height: 37px;
				border-top-color: lighten(@layout_outline, 7%);
			}
		}
	}

	&.cover:before {
		// background: rgba(255,0,0,.1);
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 102;
	}

	.nowrap {
		white-space: nowrap;

		button {
			width: 70px;
		}
	}

	.icon {
		//background-image: url(~/icons/var(--icon).png);
	}

	// selectbox prefix icons
	.table-header-rows    { --icon-prefix: url(~/icons/icon-column-cells.png); }
	.table-header-columns { --icon-prefix: url(~/icons/icon-row-cells.png); }
	.table-footer-rows    { --icon-prefix: url(~/icons/icon-foot-cells.png); }

	// tool icons
	.tool.move:before     { background-image: url(~/icons/tool-move.png); }
	.tool.h-resize:before { background-image: url(~/icons/tool-h_resize.png); }
	.tool.v-resize:before { background-image: url(~/icons/tool-v_resize.png); }
	.tool.hv-resize:before { background-image: url(~/icons/tool-resize.png); }
	
	[class*="icon-"],
	[class^="icon-"] {
		width: 13px;
		height: 13px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		// background-size: contain;

		&.c13x19 {
			width: 19px;
			height: 13px;
		}
		&.icon-add { background-size: 13px 13px; }
	}

	.icon-small-a              { background-image: url(~/icons/icon-small-a.png); }
	.icon-big-a                { background-image: url(~/icons/icon-big-a.png); }
	.icon-gridlines-horizontal { background-image: url(~/icons/icon-gridlines-horizontal.png); }
	.icon-gridlines-vertical   { background-image: url(~/icons/icon-gridlines-vertical.png); }
	.icon-row-gridlines        { background-image: url(~/icons/icon-row-gridlines.png); }
	.icon-column-gridlines     { background-image: url(~/icons/icon-column-gridlines.png); }
	.icon-footer-gridlines     { background-image: url(~/icons/icon-footer-gridlines.png); }
	.icon-color-preset         { background-image: url(~/icons/icon-color-preset.png); }
	.icon-add                  { background-image: url(~/icons/icon-add.png); }
	.icon-format               { background-image: url(~/icons/icon-format.png); }
	.icon-chevron-down         { background-image: url(~/icons/icon-chevron-down.png); }

	.icon-bold                 { background-image: url(~/icons/icon-bold.png); }
	.icon-italic               { background-image: url(~/icons/icon-italic.png); }
	.icon-underline            { background-image: url(~/icons/icon-underline.png); }
	.icon-strike               { background-image: url(~/icons/icon-strike.png); }
	.icon-justify-left         { background-image: url(~/icons/icon-justify-left.png); }
	.icon-justify-center       { background-image: url(~/icons/icon-justify-center.png); }
	.icon-justify-right        { background-image: url(~/icons/icon-justify-right.png); }
	.icon-justify-full         { background-image: url(~/icons/icon-justify-full.png); }
	.icon-justify-fit          { background-image: url(~/icons/icon-justify-fit.png); }
	.icon-valign-top           { background-image: url(~/icons/icon-valign-top.png); }
	.icon-valign-middle        { background-image: url(~/icons/icon-valign-middle.png); }
	.icon-valign-bottom        { background-image: url(~/icons/icon-valign-bottom.png); }

	.icon-arrange-back         { background-image: url(~/icons/icon-arrange-back.png); }
	.icon-arrange-front        { background-image: url(~/icons/icon-arrange-front.png); }
	.icon-arrange-backward     { background-image: url(~/icons/icon-arrange-backward.png); }
	.icon-arrange-forward      { background-image: url(~/icons/icon-arrange-forward.png); }

	.icon-border-1 { background-image: url(~/icons/icon-border-1.png); }
	.icon-border-2 { background-image: url(~/icons/icon-border-2.png); }
	.icon-border-3 { background-image: url(~/icons/icon-border-3.png); }
	.icon-border-4 { background-image: url(~/icons/icon-border-4.png); }
	.icon-border-5 { background-image: url(~/icons/icon-border-5.png); }
	.icon-border-6 { background-image: url(~/icons/icon-border-6.png); }
	.icon-border-7 { background-image: url(~/icons/icon-border-7.png); }
	.icon-border-8 { background-image: url(~/icons/icon-border-8.png); }
	.icon-border-9 { background-image: url(~/icons/icon-border-9.png); }
}

.popups {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 110;

	> div {
		visibility: hidden;
		opacity: 0;
		font-size: 0;
		background: rgba(240,240,240,.85);
		backdrop-filter: blur(21px);
		position: absolute;
		width: 258px;
		padding: 12px 13px 10px;
		border-radius: 13px;
		transform-origin: 50% 0;
		box-shadow: 0 0 0 1px rgba(0,0,0,.1),
					0 19px 31px 3px rgba(0,0,0,.14),
					0 7px 37px 8px rgba(0,0,0,.12),
					0 9px 13px -5px rgba(0,0,0,.2);

		&.pop {
			visibility: visible;
			animation: popup-bubble 120ms linear forwards;
		}

		&.pop-hide {
			animation: popup-hide 120ms linear forwards;
		}

		&:before {
			content: "";
			position: absolute;
			top: -16px;
			left: 50%;
			width: 0;
			height: 0;
			margin-left: -7px;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 15px solid rgba(0,0,0,.15);
			filter: drop-shadow(-3px 0 5px rgba(0,0,0,.5));
		}

		&:after {
			content: "";
			position: absolute;
			top: -14px;
			left: 50%;
			width: 0;
			height: 0;
			margin-left: -7px;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 14px solid rgba(250,250,250,.825);
		}

		&.popup-colour-ring {
			top: 363px;
			left: 831px;
			width: 192px;
			padding-bottom: 12px;
			visibility: visible;
			opacity: 1;

			.ring-wrapper {
				position: relative;
				width: 166px;
				height: 166px;
				--rotation: 0deg;
				--top: 0;
				--left: 89px;
			}

			.color-ring {
				background: url(~/img/sprite.png) 0 0 no-repeat;
				position: absolute;
				top: 0;
				left: 0;
				width: 166px;
				height: 166px;
				z-index: 1;
				border-radius: 50%;
				box-shadow: inset 0 1px 1px rgba(0,0,0,.25),
							0 1px 0 #fff;

				&:after {
					content: "";
					position: absolute;
					top: 18px;
					left: 18px;
					right: 18px;
					bottom: 18px;
					border-radius: 50%;
					box-shadow: inset 0 1px 0 rgba(255,255,255,.75),
								0 1px 1px rgba(0,0,0,.25);
				}

				.ring-point {
					position: absolute;
					top: 0;
					left: 83px;
					width: 83px;
					height: 83px;
					transform-origin: 0 100%;
					transform: rotate(var(--rotation));

					&:after {
						content: "";
						position: absolute;
						bottom: -3px;
						right: -1px;
						width: 20px;
						height: 7px;
						z-index: 2;
						border-radius: 10px;
						box-shadow: 0 0 0 1px #000,
									inset 0 0 0 1px #fff;
					}
				}
			}

			.color-box {
				background: #f00;
				position: absolute;
				top: 38px;
				left: 38px;
				width: 90px;
				height: 90px;
				z-index: 2;

				&:after {
					content: "";
					background: url(~/img/sprite.png) 0 0 no-repeat;
					background-position: -204px -38px;
					position: absolute;
					top: 0;
					left: 0;
					width: 90px;
					height: 90px;
					box-shadow: inset 1px 1px 1px rgba(0,0,0,.125),
								1px 1px 0 rgba(255,255,255,.5);
				}

				.box-point {
					position: absolute;
					top: var(--top);
					left: var(--left);
					width: 9px;
					height: 9px;
					margin: -4px 0 0 -4px;
					z-index: 2;
					border-radius: 50%;
					box-shadow: 0 0 0 1px #000,
								inset 0 0 0 1px #fff;
				}
			}
		}

		&.popup-palette {
			span {
				position: relative;
				display: inline-block;
				width: 37px;
				height: 20px;
				margin: 0 2px 2px 0;
				cursor: pointer;

				&:nth-child(6n) {
					margin-right: 0;
				}

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border: 1px solid rgba(0,0,0,.2);
				}

				&.active {
					cursor: default;

					&:after {
	 					content: "";
						position: absolute;
						top: -3px;
						left: -3px;
						right: -3px;
						bottom: -3px;
						border: 3px solid #fff;
						border-radius: 2px;
						box-shadow: 0 0 2px rgba(0,0,0,.65);
						z-index: 2;
					}
				}
			}
		}

		&.popup-insert-chart-options,
		&.popup-insert-shape-options,
		&.popup-insert-image-options,
		&.popup-insert-grid-options {
			width: 213px;
			padding: 17px 17px 11px;

			&.popup-insert-shape-options {
				width: 148px;

				.options-reel {
					.grid-column {
						width: 50px;
					}

					span {
						width: 50px;
						height: 50px;

						&:before {
							top: 7px;
							left: 7px;
							width: 36px;
							height: 36px;
						}
					}
				}
			}

			&.popup-insert-grid-options {
				width: 223px;

				.options-reel {
					.grid-column {
						width: 83px;
					}

					span {
						width: 93px;
						height: 72px;

						&:before {
							top: 8px;
							left: 8px;
						}
					}
				}
			}

			.options-reel {
				position: relative;
				overflow: hidden;

				&[data-step="1"] .reel { left: 0px; }
				&[data-step="2"] .reel { left: -188px; }
				&[data-step="3"] .reel { left: -376px; }

				.reel {
					position: relative;
					display: flex;
					left: 0;
					transition: left 150ms ease-in-out;
				}

				.grid-column {
					// background: rgba(0,0,0,0.1);
					display: inline-block;
					width: 81px;
					margin-right: 13px;

					&:last-child {
						margin-right: 0;
					}
				}

				span {
					display: inline-block;
					position: relative;
					width: 85px;
					height: 65px;
					margin: 1px 0 7px;
					vertical-align: middle;
					border-radius: 3px;
					cursor: pointer;

					&:nth-child(2n) {
						margin-right: 0;
					}

					&:hover {
						background: rgba(0,0,0,.065);
						box-shadow: inset 0 1px 1px rgba(0,0,0,.15),
									0 1px 0 rgba(255,255,255,.35);
					}

					&:before {
						content: "";
						position: absolute;
						top: 4px;
						left: 4px;
						width: 77px;
						height: 56px;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: 100%;
						// border-radius: 5px;
					}
				}
			}

			.grid-nav {
				display: block;
				text-align: center;
				margin: 4px 0;

				li {
					position: relative;
					display: inline-block;
					width: 13px;
					height: 13px;
					margin: 0 3px;
					border-radius: 50%;
					background: rgba(0,0,0,.125);
					box-shadow: inset 0 1px 1px rgba(0,0,0,.15),
								0 1px 0 rgba(255,255,255,.35);
					cursor: pointer;

					&:before {
						content: "";
						opacity: 0;
						position: absolute;
						top: 4px;
						left: 4px;
						width: 5px;
						height: 5px;
						border-radius: inherit;
						background: rgba(0,0,0,.35);
					}

					&.active {
						cursor: default;

						&:before {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

content {
	background: transparent;
	position: relative;
	width: 100%;
	height: 100%;
	flex: auto;
	display: flex;
	flex-direction: column;
	padding-right: 0;
	transition: padding-right @sidebar_speed * 0.75;

	.head {
		background: #f0f0f0;
		height: 29px;
		border-bottom: 1px solid @layout_outline;
		display: flex;
		color: #777;

		span {
			position: relative;
			padding: 8px 0 0;
			height: 100%;
			text-align: center;
			user-select: none;
			cursor: pointer;

			&.icon-add {
				opacity: .5;
				padding: 5.5px 17px 0;

				&:hover { opacity: 1; }
				&:active { opacity: .75; }
			}
		}

		> div {
			position: relative;
			display: flex;
			flex: 1;
			overflow: hidden;

			.sheet-reel {
				position: relative;
				display: flex;

				span {
					white-space: nowrap;

					&:not(.icon-add) {
						width: 114px;
						animation: sheet-name-appear 150ms linear forwards;
					}

					&.active {
						background: #d6e6fb;
						color: #4591e8;
						cursor: default;

						+ span:before {
							display: none;
						}

						u {
							filter: none;
						}
					}

					&.remove-sheet {
						animation: sheet-name-disappear 150ms linear forwards;
					}

					&:hover:not(.active) { color: #333; }
					&:active:not(.active) { color: #111; }

					&:not(.active):before {
						content: "";
						position: absolute;
						top: 5px;
						bottom: 5px;
						left: 0;
						width: 1px;
						background: rgba(0,0,0,0.15);
					}

					&:not(.active):last-child:after {
						left: auto;
						right: 0;
					}

					u.tool-active_,
					&:hover u {
						display: block;
					}

					i {
						font-style: normal;
						pointer-events: none;
					}

					u {
						display: none;
						background: url(~/icons/icon-chevron-down.png) 50% 50% no-repeat;
						background-size: cover;
						position: absolute;
						top: 9px;
						right: 4px;
						width: 9px;
						height: 9px;
						cursor: pointer;
						filter: grayscale(100%) brightness(.5);
					}
				}
			}
		}
	}

	.body {
		flex: auto;
		position: relative;
		overflow: auto;

		.wrapper {
			position: absolute;
			top: 0;
			left: 0;
			// width: 9999px;
			// height: 9999px;
		}
	}
	
	.foot {
		position: relative;
		display: flex;
		height: 36px;
		// bottom: -37px;
		border-top: 1px solid transparent;
		transition: max-height 150ms ease-in-out;
		max-height: 0;
		//--color-1: #333;

		.selection-data {
			flex: auto;
			display: flex;
			padding: 6px 9px;

			div.data {
				background: #cfdbf2;
				color: #555;
				display: flex;
				font-size: 11px;
				width: 137px;
				border-radius: 30px;
				padding: 0 9px;
				margin-right: 5px;
				border: 1px solid #bac6dd;

				label {
					padding: 6px 0 0;
					text-transform: uppercase;
				}

				span {
					flex: 1;
					padding: 5px 5px 0;
					font-weight: 500;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: #222;
				}
			}
		}

		.selection-type {
			padding: 12px 13px 0;
			color: #999;
			border-right: 1px solid @layout_outline;
			user-select: none;
		}

		.selection-value {
			flex: auto;
			padding: 12px 13px 0;

			.formula {
				border-radius: 30px;

				.formula-method {
					background: #fff;
					color: #555;
					border-radius: inherit;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					padding: 1px 23px 1px 9px;
					border: 1px solid #ddd;
					text-transform: uppercase;
				}

				.formula-value {
					background: #cfdbf2;
					border-radius: inherit;
					padding: 2px 11px;
					margin-left: -19px;
					border: 1px solid #a3bef3;
					text-transform: uppercase;
					cursor: pointer;
				}
			}
		}
	}
}

sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	right: -270px;
	width: 270px;
	transition: right @sidebar_speed * 0.75;

	&.show-sheet .container .sidebar-sheet { display: flex; }
	&.show-title .container .sidebar-title { display: flex; }
	&.show-caption .container .sidebar-caption { display: flex; }
	&.show-table .container .sidebar-table { display: flex; }
	&.show-shape .container .sidebar-shape { display: flex; }
	&.show-chart .container .sidebar-chart { display: flex; }
	&.show-empty .container .sidebar-empty { display: flex; }

	&:after {
		border-color: @layout_outline;
	}

	> .container {
		height: 100%;
		width: 270px;
		display: flex;
		flex-direction: column;

		> div {
			background: @sidebar_bg;
			display: none;
			flex-direction: column;
		}
	}

	.sidebar-head {
		height: 29px;
		border-bottom: 1px solid @layout_outline;
		display: flex;
		background: #ececec;
		color: #888;

		span {
			flex: 1;
			padding-top: 9px;
			font-weight: 400;
			text-align: center;
			user-select: none;

			&:not(:first-child) {
				border-left: 1px solid @layout_outline;
			}

			&.active {
				position: relative;
				z-index: 2;
				background: #ddd;
				color: #333;
				
				&:after {
					display: none;
					content: "";
					position: absolute;
					top: 0;
					left: -1px;
					right: -1px;
					bottom: -1px;
					border: 1px solid darken(#489bf7, 7%);
					border-top: 0;
				}

				&:first-child:after {
					left: 0;
				}

				&:last-child:after {
					border-right: 0;
				}
			}
		}
	}

	.sidebar-body {
		flex: 1;
		position: relative;
		overflow: auto;
		font-size: 12px;
		display: none;

		&.active {
			display: block;
		}

		.form-radio_,
		.form-checkbox_ {
			margin: 0 2px 7px 0;
		}

		button {
			width: calc(100% - 11px);
			margin-left: 11px;
		}

		.select-option-border-solid {
			display: block;
			width: 100%;
			height: 1px;
			margin: 3px 0 0 1px;
			border-top: 3px solid #000;
		}

		.w30 { width: 30%; }
		.w50 { width: 50%; }

		.group-row {
			position: relative;
			padding: 13px 16px 7px;
			margin-bottom: 1px;

			&.collapsed {
				opacity: 0;
				padding-top: 0;
				padding-bottom: 0;
				margin-bottom: 0;
				max-height: 0;
				overflow: hidden;
				transition: all 120ms ease-in-out;

				&:after {
					height: 0;
				}

				&.expand {
					opacity: 1;
					padding-top: 13px;
					padding-bottom: 7px;
					margin-bottom: 1px;
					max-height: 120px;

					&:after {
						height: 1px;
					}
				}
			}

			&:not(:last-child):after {
				content: "";
				position: absolute;
				left: 17px;
				right: 17px;
				bottom: 0px;
				height: 1px;
				background: fadeout(@outline_color, 47%);
			}

			legend.bold,
			> legend {
				font-weight: 500;
			}

			legend {
				margin-bottom: 7px;
				user-select: none;
			}

			.flex-row {
				display: flex;
				min-height: 32px;
				justify-content: space-between;

				&.shadow-angle-color {
					padding-top: 3px;
					
					> div:nth-child(2) {
						position: relative;
						left: -21px;
					}
				}

				> legend {
					flex: auto;
					margin: 0;
					padding-top: 5px;
				}

				> div {
					width: 30%;

					&.w23 { width: 23%; }
					&.w30 { width: 33%; }
					&.w37 { width: 37%; }
					&.w30 + .w63 { padding-top: 0; }
					&.w48 { width: 48%; }
					&.w60 { width: 60%; }
					&.w63 { width: 63%; }
					&.w73 { width: 73%; }

					&.indent {
						position: relative;
						left: -11px;
					}

					&.w63 {
						.form-checkbox_ {
							margin-top: 3px;

							& + label { top: 0; }
						}

						&.indent { left: -4px; }
					}

					&.borders {
						width: 83px;
					}

					&.has-title {
						position: relative;
						margin-bottom: 29px;

						&:after {
							content: attr(title);
							position: absolute;
							top: 100%;
							left: 0;
							right: 16px;
							text-align: center;
							margin-top: 5px;
							font-size: 11px;
						}
					}
				}

				.flex-row {
					> div {
						width: 47%;
						margin-top: 3px;
					}

					label[for="alternate-row-color"] {
						top: 1px;
					}
				}

				.range-caption {
					position: relative;
					top: 3px;
				}

				.has-caption {
					padding-top: 11px;
				}

				input[type="range"] {
					top: 1px;
					margin-bottom: 11px;
				}
			}

			.flex-col {
				selectbox {
					margin-bottom: 7px;
				}
			}

			.solid-options {
				display: none;
			}

			.gradient-options {
				.gradient-colors {
					position: relative;
					background: linear-gradient(to right, #ff0000 0%, #00ff00 100%);
					box-shadow: inset 0 0 0 1px rgba(0,0,0,.25);
					border-radius: 4px;
					margin: 0 5px 23px;
					height: 21px;

					.point {
						background: #fff;
						position: absolute;
						top: 17px;
						width: 16px;
						height: 16px;
						border-radius: 50%;
						filter: drop-shadow(0 0 2px rgba(0,0,0,.35));

						&:before {
							content: "";
							position: absolute;
							top: -4px;
							left: 0;
							width: 0;
							height: 0;
							border-left: 8px solid transparent;
							border-right: 8px solid transparent;
							border-bottom: 9px solid #fff;
							border-radius: 50%;
						}

						&:after {
							content: "";
							position: absolute;
							top: 3px;
							left: 3px;
							right: 3px;
							bottom: 3px;
							border-radius: inherit;
							box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
						}

						&:nth-child(1) {
							left: -7px;

							&:after { background: #f00; }
						}
						&:nth-child(2) {
							left: 49%;

							&:after { background: #8c8d17; }
						}
						&:nth-child(3) {
							right: -7px;

							&:after { background: #0f0; }
						}
					}
				}
			}
		}

		selectbox {
			margin-bottom: 11px;

			&.shape-outline,
			&.table-outline {
				option {
					font-size: 0;

					&[value="solid"]  { --icon-prefix: url(~/icons/table-outline-solid.png); }
					&[value="dotted"] { --icon-prefix: url(~/icons/table-outline-dotted.png); }
					&[value="dashed"] { --icon-prefix: url(~/icons/table-outline-dashed.png); }

					&.prefix-icon:before {
						left: 6px;
						width: 60px;
					}
				}
			}
		}

		.option-buttons_ {
			&.has-title {
				margin-bottom: 29px;
				color: #333;
			}
		}

		.borders {
			background: #fff;
			width: 83px;
			height: 83px;
			border-radius: 4px;
			border: 1px solid @outline_color;
			box-shadow: 0 1px 1px rgba(0,0,0,0.075);
			padding: 3px 0 0 3px;
			margin-bottom: 11px;
			font-size: 0;
			//--color-1: #333;

			span {
				//background-color: rgba(0,0,0,0.1);
				background-size: 100% auto;
				display: inline-block;
				width: 19px;
				height: 19px;
				margin: 3px;
				// padding: 4px 0 0 4px;
				vertical-align: middle;
				border-radius: 2px;
			}
		}

		.styles {
			background: #fff;
			height: 141px;
			border-bottom: 1px solid @outline_color;
			padding: 5px 0 0 7px;
			font-size: 0;

			&.shape-styles {
				span {
					border-radius: 10px;
					
					&:before {
						top: 0;
						left: 0;
						width: inherit;
						height: inherit;
					}
				}
			}

			span {
				//background: rgba(0,0,0,0.1);
				display: inline-block;
				position: relative;
				width: 81px;
				height: 61px;
				margin: 1px 5px 3px 0;
				//padding: 4px 0 0 4px;
				vertical-align: middle;
				border-radius: 2px;

				&:hover:not(.active) {
					background: #d6e7fb;
				}
				&.active {
					box-shadow: 0 0 0 2px #acc2dc;
				}

				&:before {
					content: "";
					position: absolute;
					top: 2px;
					left: 2px;
					width: 77px;
					height: 56px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: 100%;
					//filter: grayscale(1);
				}
			}
		}
	}

	.sidebar-sheet {
		position: relative;
		background: inherit;
		min-height: 100%;

		.group-row:nth-child(1) {
			padding-bottom: 13px;
		}

		.full-row {
			min-height: 32px;

			button {
				margin-left: 0;
				width: 100%;
			}
		}
	}
}

.sidebar-empty {
	position: absolute;
	top: 43%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	text-align: center;
	color: #33333390;
	font-size: 12px;

	.icon-format {
		margin: 0 auto;
		width: 73px;
		height: 73px;
		opacity: .25;
	}

	b {
		display: inline-block;
		color: #333333a0;
		margin: 11px 0 5px;
	}
}

sidebar .container > div {
	position: relative;
	background: inherit;
	min-height: 100%;

	.sidebar-body {
		display: none;

		&.active {
			display: block;
		}
	}
}

table {
	col {
		// width: 123px;
	}

	tr {
		height: 25px;
	}
}

.selection textarea,
.sheet {
	font-family: 'Helvetica Neue';
	font-size: 13px;
	color: #333;
}

.sheet {
	position: absolute;
	top: 40px;
	left: 40px;
	--border-color: @table_border;
	--border-style: solid;
	--border-width: 1px;

	// temp
	&.temp-1 {
		// display: none;
		top: 390px;
		left: 40px;

		.tbl-root1 {
			// constrain dimensions
			width: 390px;
			height: 276px; //352px;
		}
	}

	&.temp-2 {
		top: 390px;
		left: 480px;
		// top: 340px;
		// left: 100px;

		.tbl-root1 {
			// constrain dimensions
			width: 361px;
			height: 251px;
		}
	}

	&.temp-3 {
		top: 50px;
		left: 480px;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 100%;
		left: 100%;
		height: 40px;
		width: 40px;
	}

	&.alt-row-bg .tbl-root {
		.tbl-body {
			> div {
				&:nth-child(2) {
					tr:nth-child(even) {
						background-color: var(--alt-row-color);
					}
				}
			}
		}
	}

	.table-title {
		position: relative;
		padding: 6px 0 7px;
		text-align: center;
		font-size: 18px;
		font-weight: 500;

		&.title-outline:before {
			display: block;
		}

		&:before {
			display: none;
			content: "";
			position: absolute;
			top: calc( var(--border-width) / -2 );
			left: calc( var(--border-width) / -2 );
			right: calc( var(--border-width) / -2 );
			bottom: calc( var(--border-width) / -2 );
			border-color: var(--border-color);
			border-style: var(--border-style);
			border-width: var(--border-width);
			border-bottom: 0;
			z-index: 2;
			pointer-events: none;
		}
	}

	.table-caption {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		padding: 3px 0;
		text-align: center;
		caption-side: bottom;
		margin: 5px 0 0;
		font-size: 15px;
		border: 1px solid transparent;

		&.active {
			border-color: #39f;
		}
	}

	.tbl-root {
		position: relative;
		display: flex;
		flex-direction: column;
		// overflow: hidden;

		&:before {
			content: "";
			position: absolute;
			top: calc( var(--border-width) / -2 );
			left: calc( var(--border-width) / -2 );
			right: calc( var(--border-width) / -2 );
			bottom: calc( var(--border-width) / -2 );
			border-color: var(--border-color);
			border-style: var(--border-style);
			border-width: var(--border-width);
			z-index: 2;
			pointer-events: none;
		}

		.tbl-col-head {
			display: flex;
			flex-direction: row;

			> div {
				&:nth-child(1) {
					position: relative;
					z-index: 1;

					table {
						border-right: 1px solid @table_border;
					}
				}

				&:nth-child(2) {
					flex: 1;
				}

				td:last-child {
					border-right: 0;
				}
			}
		}

		.tbl-body {
			position: relative;
			z-index: 1;
			flex: 1;
			display: flex;
			flex-direction: row;
			overflow: hidden;

			> div {
				margin-bottom: -1px;

				&:nth-child(1) {
					position: relative;
					z-index: 2;

					table:after {
						content: "";
						position: absolute;
						top: 0;
						bottom: 0;
						right: -1px;
						width: 1px;
						border-right: 1px solid @table_border;
					}
				}

				&:nth-child(2) {
					position: relative;
					flex: 1;
					z-index: 1;
					overflow: auto;
				}

				td:last-child {
					border-right: 0;
				}

				tr:last-child td {
					border-bottom: 0;
				}
			}

			table tr:last-child td { border-bottom: 0; }
		}

		.tbl-col-foot {
			display: flex;
			flex-direction: row;

			> div {
				&:nth-child(1) {
					position: relative;
					z-index: 1;

					table {
						border-right: 1px solid @table_border;
					}
				}

				&:nth-child(2) {
					flex: 1;
					overflow-y: visible;

					td:last-child {
						border-right: 0;
					}
				}

				table:after {
					content: "";
					position: absolute;
					top: -1px;
					left: 0;
					right: 0;
					height: 0;
					z-index: 2;
					border-top: 1px solid @table_border;
				}

				tr:last-child td {
					border-bottom: 0;
				}

				td:last-child {
					border-right: 0;
				}
			}
		}
	}

	table {
		position: relative;
		width: 0;
		table-layout: fixed;
	}

	th,
	td {
		border-right: 1px solid @table_border;
		border-bottom: 1px solid @table_border;
		padding: 1px 7px 1px 5px;
		vertical-align: middle;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 90px;
		// max-width: 170px;

		&.active {
			color: transparent;
		}

		&.selected:not(.anchor) {
			background: #edf3fa;
		}

		&:last-child {
			border-right-color: transparent;
		}

		&[t="s"] {
			
		}

		&[t="z"],
		&[t="n"] {
			width: 50px;
			text-align: right;
			padding-left: 17px;
			padding-right: 5px;
		}
	}

	sup {
		font-size: smaller;
		vertical-align: super;
	}

	sub {
		font-size: smaller;
		vertical-align: sub;
	}

	// &.alternate-row-bg tr:nth-child(odd) {
	// 	background: var(--alt-row-bg);
	// }

	&.hide-hg-lines .tbl-root .tbl-body div:nth-child(2) {
		th, td { border-bottom-color: inherit; }
	}

	&.hide-vg-lines .tbl-root .tbl-body div:nth-child(2) {
		th, td { border-right-color: inherit; }
	}

	&.hide-hgh-lines .tbl-root .tbl-body div:nth-child(1) {
		th, td { border-bottom-color: inherit; }
	}

	&.hide-vgb-lines .tbl-root .tbl-col-head > div:nth-child(n) {
		table, th, td { border-right-color: inherit; }
	}

	&.hide-vgf-lines .tbl-root .tbl-col-foot > div:nth-child(n) {
		table, th, td { border-right-color: inherit; }
	}
}

@keyframes sheet-name-appear {
	0%   {
		opacity: 0;
		max-width: 0;
		padding-left: 0;
		padding-right: 0;
	}
	100% {
		opacity: 1;
		max-width: 120px;
		min-width: 114px;
		padding-left: 13px;
		padding-right: 13px;
	}
}

@keyframes sheet-name-disappear {
	0%   {
		opacity: 1;
		max-width: 120px;
		min-width: 114px;
		padding-left: 13px;
		padding-right: 13px;
	}
	100% {
		opacity: 0;
		max-width: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

@keyframes popup-bubble {
	0%   { transform: scale(.25); opacity: 0; }
	91%  { transform: scale(1.1); opacity: 1; }
	100% { transform: scale(1); opacity: 1; }
}

@keyframes popup-hide {
	0%   { transform: scale(1); opacity: 1; }
	100% { transform: scale(.25); opacity: 0; }
}

