
.shape {
	position: absolute;
	top: 80px;
	left: 600px;
	width: 100px;
	height: 100px;
	-webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 50%, transparent 100%);
	
	&:nth-child(5) { top: 300px; left: 540px; }
	&:nth-child(6) { top: 440px; left: 240px; }

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: 50% 50%;
	}

	svg {
		width: 100%;
		height: 100%;
		overflow: visible;
	}
}

.shape-tools {
	position: absolute;
	border: 1px solid #3583d0;
	z-index: 99;
	// cursor: move;
	pointer-events: none;

	&.hidden {
		display: none;
	}

	.handle {
		position: absolute;
		width: 9px;
		height: 9px;
		z-index: 2;
		background: #fff;
		border: 1px solid rgba(0,0,0,.85);
		pointer-events: all;

		&.n    { cursor: n-resize; top: -5px; left: 50%; transform: translateX(-50%); }
		&.nw   { cursor: ne-resize; top: -5px; right: -5px; }
		&.w    { cursor: e-resize; top: 50%; right: -5px; transform: translateY(-50%); }
		&.sw   { cursor: se-resize; bottom: -5px; right: -5px;  }
		&.s    { cursor: s-resize; bottom: -5px; left: 50%; transform: translateX(-50%); }
		&.se   { cursor: sw-resize; bottom: -5px; left: -5px; }
		&.e    { cursor: w-resize; top: 50%; left: -5px; transform: translateY(-50%); }
		&.ne   { cursor: nw-resize; top: -5px; left: -5px; }
	}

	.gradient-tool {
		position: absolute;
		height: 0;
		border-top: 1px solid rgba(255,255,255,.65);
		filter: drop-shadow(0 0 1px rgba(0,0,0,.25));
		transform-origin: 0 0;
		transform: rotate(45deg);

		&.hidden {
			display: none;
		}

		.handle {
			width: 7px;
			height: 7px;
			cursor: move;
			border: 1px solid rgba(0,150,0,.85);

			&.p1 {
				cursor: move;
				top: -4px;
				left: -4px;
				border-radius: 50%;
			}

			&.p2 {
				top: -4px;
				right: -4px;
				cursor: ns-resize;
			}
		}
	}
}
