
.sheet {
	&.gray-table-1 table {
		&:after { border-color: #404040; }
		
		tr:first-child td {
			background-color: #bec0bf;
			border-bottom-color: #404040;
		}

		tr:not(:first-child):not(:last-child) td:first-child {
			background-color: #dcdcdc;
			border-right-color: #404040;
		}

		tr:nth-last-child(2) td {
			border-bottom-color: #404040;
		}

		tr:last-child td {
			background-color: #eee;
		}
	}

	&.blue-table-1 table {
		&:after { border-color: #404040; }

		td {
			border-right-color: transparent;
		}

		tr:last-child td,
		tr:first-child td {
			background-color: #fff;
			border-bottom-color: #404040;
		}

		tr:nth-last-child(2) td {
			border-bottom-color: #404040;
		}

		tr:not(:first-child):not(:last-child) td:first-child {
			background-color: #3FA9F570;
			border-right-color: #404040;
		}
	}

	&.green-table-1 table {
		&:after { border-color: #404040; }

		tr:last-child td,
		tr:first-child td {
			background-color: #00924570;
			border-right-color: #009245;
			border-bottom-color: #404040;
		}

		tr:nth-last-child(2) td {
			border-bottom-color: #404040;
		}

		tr:not(:first-child):not(:last-child) td:first-child {
			background-color: #dcdcdc;
			border-right-color: #404040;
		}

		tr:nth-child(odd) {
			background-color: #f2f2f2;
		}
	}

	&.blue-table-2 table {
		&:after { border-color: #404040; }

		tr:first-child td {
			background-color: #0071BC70;
			border-bottom-color: #404040;
		}

		tr:last-child td {
			background-color: #29ABE270;
			border-bottom-color: #404040;
		}

		tr:nth-last-child(2) td {
			border-bottom-color: #404040;
		}

		tr:not(:first-child):not(:last-child) td:first-child {
			background-color: #dcdcdc;
			border-right-color: #404040;
		}

		tr:nth-child(odd) {
			background-color: #f2f2f2;
		}
	}

	&.orange-table-1 table {
		&:after { border-color: #404040; }

		tr:not(:first-child):not(:last-child) td:not(:first-child) {
			border-right-style: dashed;
		}
		tr:not(:first-child):not(:last-child):not(:nth-last-child(2)) td:not(:first-child) {
			border-bottom-style: dashed;
		}

		tr:last-child td,
		tr:first-child td {
			background-color: #F7931E70;
			border-bottom-color: #404040;
		}

		tr:nth-last-child(2) td {
			border-bottom-color: #404040;
		}

		tr:not(:first-child):not(:last-child) td:first-child {
			background-color: #dcdcdc;
			border-right-color: #404040;
		}

		tr:nth-child(odd) {
			background-color: #f2f2f2;
		}
	}

	&.white-table-1 table {
		&:after { border-color: #404040; }

		tr:not(:first-child):not(:last-child) td:not(:first-child) {
			border-right-style: dashed;
		}
		tr:not(:first-child):not(:last-child):not(:nth-last-child(2)) td:not(:first-child) {
			border-bottom-style: dashed;
		}

		tr:last-child td,
		tr:first-child td {
			background-color: #f8f8f8;
			border-bottom-color: #404040;
			border-right-color: #ccc;
		}

		tr:nth-last-child(2) td {
			border-bottom-color: #404040;
		}

		tr:not(:first-child):not(:last-child):not(:nth-last-child(2)) td:first-child {
			border-bottom-color: #ccc;
		}

		tr:not(:first-child):not(:last-child) td:first-child {
			background-color: #f8f8f8;
			border-right-color: #404040;
		}

		tr:nth-child(odd) {
			background-color: #f2f2f2;
		}
	}
}