
.xl-table {
	&.gray-table-1 {
		--tbl-border-color: #404040;
		--tbl-border-style: solid;
		--tbl-border-width: 1px;

		.tbl-root {
			.tbl-col-head {
				tr:last-child td:before {
					--border-color: #999 #999 #404040 #999;
				}
				
				td {
					background-color: #bec0bf;
					--border-color: #999 #999 #999 #999;
				}
			}

			.tbl-body {
				> div {
					&:nth-child(1) {
						td {
							background-color: #dcdcdc;

							&:last-child {
								--border-color: @table_border #404040 @table_border @table_border;
							}
						}
					}
				}
			}

			.tbl-col-foot {
				> div {
					tr:first-child td:before {
						--border-color: #404040 @table_border @table_border @table_border;
					}

					td {
						background-color: #eee;
					}
				}
			}
		}
	}

	&.blue-table-1 {
		--tbl-border-color: #404040;
		--tbl-border-style: solid;
		--tbl-border-width: 1px;

		.tbl-root {
			.tbl-col-head {
				tr:last-child td:before {
					--border-color: #fff #fff #404040 #fff;
				}
				
				td {
					background-color: #fff;
					--border-color: #fff #fff #fff #fff;
				}
			}

			.tbl-body {
				> div {
					&:nth-child(1) {
						td {
							background-color: #3FA9F570;
							--border-color: #3FA9F5 #3FA9F5 #3FA9F5 #3FA9F5;

							&:last-child {
								--border-color: #3FA9F5 #404040 #3FA9F5 #3FA9F5;
							}
						}
					}
				}
			}

			.tbl-col-foot {
				> div {
					tr:first-child td:before {
						--border-color: #404040 #fff #fff #fff;
					}

					td {
						background-color: #fff;
					}
				}
			}
		}
	}

	&.green-table-1 {
		--tbl-border-color: #404040;
		--tbl-border-style: solid;
		--tbl-border-width: 1px;
		--alt-row-color: #f2f2f2;

		.tbl-root {
			.tbl-col-head {
				tr:last-child td:before {
					--border-color: #65a481 #65a481 #404040 #65a481;
				}
				
				td {
					background-color: #95d0ae;
					--border-color: #65a481 #65a481 #65a481 #65a481;
				}
			}

			.tbl-body {
				> div {
					&:nth-child(1) {
						td {
							background-color: #dcdcdc;
							--border-color: @table_border @table_border @table_border @table_border;

							&:last-child {
								--border-color: @table_border #404040 @table_border @table_border;
							}
						}
					}

					&:nth-child(2) {
						tr:nth-child(even) {
							background-color: #f2f2f2;
						}
					}
				}
			}

			.tbl-col-foot {
				> div {
					tr:first-child td:before {
						--border-color: #404040 #65a481 #65a481 #65a481;
					}

					td {
						background-color: #95d0ae;
						--border-color: #65a481 #65a481 #65a481 #65a481;
					}
				}
			}
		}
	}

	&.blue-table-2 {
		--tbl-border-color: #404040;
		--tbl-border-style: solid;
		--tbl-border-width: 1px;

		.tbl-root {
			.tbl-col-head {
				tr:last-child td:before {
					--border-color: #6595b6 #6595b6 #404040 #6595b6;
				}
				
				td {
					background-color: #94c1e2;
					--border-color: #6595b6 #6595b6 #6595b6 #6595b6;
				}
			}

			.tbl-body {
				> div {
					&:nth-child(1) {
						td {
							background-color: #dcdcdc;
							--border-color: @table_border @table_border @table_border @table_border;

							&:last-child {
								--border-color: @table_border #404040 @table_border @table_border;
							}
						}
					}

					&:nth-child(2) {
						tr:nth-child(even) {
							background-color: #f2f2f2;
						}
					}
				}
			}

			.tbl-col-foot {
				> div {
					tr:first-child td:before {
						--border-color: #404040 #76aec6 #76aec6 #76aec6;
					}

					td {
						background-color: #a4daf2;
						--border-color: #76aec6 #76aec6 #76aec6 #76aec6;
					}
				}
			}
		}
	}

	&.orange-table-1 {
		--tbl-border-color: #404040;
		--tbl-border-style: solid;
		--tbl-border-width: 1px;

		.tbl-root {
			.tbl-col-head {
				tr:last-child td:before {
					--border-color: #cfa472 #cfa472 #404040 #cfa472;
				}
				
				td {
					background-color: #fbd0a2;
					--border-color: #cfa472 #cfa472 #cfa472 #cfa472;
				}
			}

			.tbl-body {
				> div {
					&:nth-child(1) {
						td {
							background-color: #dcdcdc;
							--border-color: @table_border @table_border @table_border @table_border;

							&:last-child {
								--border-color: @table_border #404040 @table_border @table_border;
							}
						}
					}

					&:nth-child(2) {
						td:before {
							--border-style: dashed dashed dashed dashed;
						}

						tr:nth-child(even) {
							background-color: #f2f2f2;
						}
					}
				}
			}

			.tbl-col-foot {
				> div {
					tr:first-child td:before {
						--border-color: #404040 #cfa472 #cfa472 #cfa472;
					}

					td {
						background-color: #fbd0a2;
						--border-color: #cfa472 #cfa472 #cfa472 #cfa472;
					}
				}
			}
		}
	}

	&.white-table-1 {
		--tbl-border-color: #404040;
		--tbl-border-style: solid;
		--tbl-border-width: 1px;
		
		.tbl-root {
			.tbl-col-head {
				tr:last-child td:before {
					--border-color: #d3d3d3 #d3d3d3 #404040 #d3d3d3;
				}
				
				td {
					background-color: #fff;
					--border-color: #d3d3d3 #d3d3d3 #d3d3d3 #d3d3d3;
				}
			}

			.tbl-body {
				> div {
					&:nth-child(1) {
						td {
							background-color: #fff;
							--border-color: @table_border @table_border @table_border @table_border;

							&:last-child {
								--border-color: @table_border #404040 @table_border @table_border;
							}
						}
					}

					&:nth-child(2) {
						td:before {
							--border-style: dashed dashed dashed dashed;
						}
						
						tr:nth-child(even) {
							background-color: #f2f2f2;
						}
					}
				}
			}

			.tbl-col-foot {
				> div {
					tr:first-child td:before {
						--border-color: #404040 #d3d3d3 #d3d3d3 #d3d3d3;
					}

					td {
						background-color: #fff;
						--border-color: #d3d3d3 #d3d3d3 #d3d3d3 #d3d3d3;
					}
				}
			}
		}
	}
}
