
.body {
	.wrapper {

		[class*="reflection"] {
			-webkit-box-reflect: below 3px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.35) 0%, transparent 50%, transparent 100%);
		}

		svg.xl-shape {
			// display: none;
			// background: rgba(0,0,0,.05);
			position: absolute;
			width: 100px;
			height: 100px;
			overflow: visible;

			&.selected {
				box-shadow: 0 0 0 1px #3583d0aa;
			}

			// temp: START
			&#shape-rounded   { top: 150px; left: 420px; }
			&#shape-rectangle { top: 310px; left: 120px; }
			&#shape-disc      { top: 520px; left: 340px; }
			&#shape-ellipse   { top: 290px; left: 140px; }
			&#shape-triangle  { top: 480px; left: 570px; }
			&#shape-star      { top: 440px; left: 530px; }

			&#shape-line-1    { top: 520px; left: 440px; }
			&#shape-line-2    { top: 120px; left: 120px; }
			&#shape-line-3    { top: 140px; left: 120px; }
			// temp: END

			> * {
				pointer-events: none;
			}
		}

		.xl-text {
			// background: rgba(0,0,0,.05);
			position: absolute;
			padding: 5px 5px 6px;

			// temp: START
			&.temp-text-1    { top: 100px; left: 480px; width: 150px;
					background-image: linear-gradient(60deg, #ff0000 0%, #ff9900 100%);
					border: 2px solid #000000;
					filter: drop-shadow(rgba(0,0,0,.54) 14px 14px 7px);
				}
			&.temp-text-2    { top: 140px; left: 120px; width: 220px;
					color: transparent;
					background-image: radial-gradient(circle 60px at 150px 40px, rgba(50,176,240,1) 0%, rgba(131,58,180,1) 100%);
				}
			&.temp-text-3    { top: 320px; left: 320px; width: 300px; }
			// temp: END

			&.selected {
				box-shadow: 0 0 0 1px #3583d0aa;
			}

			&:before {
				// background: rgba(0,0,0,.1);
				content: "";
				display: block;
				position: absolute;
				top: 100%;
				left: 100%;
				height: 40px;
				width: 40px;
			}

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}

			&.txt-black-white  { background: #222222; color: #fff; }
			&.txt-blue-black   { background: #1ba3fc; color: #000; }
			&.txt-green-black  { background: #65d744; color: #000; }
			&.txt-red-white    { background: #ea261f; color: #fff; }
			&.txt-yellow-black { background: #fcad2a; color: #000; }
			&.txt-pink-white   { background: #fc47a1; color: #fff; }
		}

		.xl-image {
			// background: rgba(0,0,0,.05);
			position: absolute;
			
			// temp: START
			&.temp-image-1    { top: 450px; left: 190px; width: 300px; height: 200px; }
			// temp: END

			&.selected:after {
				content: "";
				position: absolute;
				top: -2px;
				left: -2px;
				right: -2px;
				bottom: -2px;
				box-shadow: 0 0 0 1px #3583d0aa;
			}

			&:before {
				// background: rgba(0,0,0,.1);
				content: "";
				display: block;
				position: absolute;
				top: 100%;
				left: 100%;
				height: 40px;
				width: 40px;
			}

			img {
				width: 100%;
				height: 100%;
				pointer-events: none;
			}
		}
	}
}
